<p class="test">test</p>
  <virtual-scroller #scroll [items]="listItems" class="example-viewport" [enableUnequalChildrenSizes]="true">
  <table>
    <thead>
      <tr>
        <th>item</th>
        <th>index</th>
        <th>count</th>
        <th>first</th>
        <th>last</th>
        <th>even</th>
        <th>odd</th>
      </tr>
    </thead>
    <tbody #container>
      <tr *ngFor="let item of scroll.viewPortItems">
    <td class="example-item-detail">Item: {{item}}</td>
    <td class="example-item-detail">Item: {{item}}</td>
    <td class="example-item-detail">Item: {{item}}</td>
    <td class="example-item-detail">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod beatae nulla accusantium facere minus nobis natus similique nisi eaque, eum facilis dolore, cumque nihil voluptas quaerat laudantium, eveniet voluptatibus exercitationem?</td>
    <td class="example-item-detail">Item: {{item}}</td>
    <td class="example-item-detail">Item: {{item}}</td>
    <td class="example-item-detail">Item: {{item}}</td>
  </tr>
  </tbody>
</table>
</virtual-scroller>
