<p class="test">test</p>
<div class="container">
<cdk-virtual-scroll-viewport [itemSize]="50" class="example-viewport">
  <table>
    <thead>
      <tr>
        <th>item</th>
        <th>index</th>
        <th>count</th>
        <th>first</th>
        <th>last</th>
        <th>even</th>
        <th>odd</th>
      </tr>
    </thead>
  <tr *cdkVirtualFor="let item of items;
                       let index = index;
                       let count = count;
                       let first = first;
                       let last = last;
                       let even = even;
                       let odd = odd;" [class.example-alternate]="odd">
    <td class="example-item-detail">Item: {{item}}</td>
    <td class="example-item-detail">Index: {{index}}</td>
    <td class="example-item-detail">
      <div *ngIf="odd">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque nisi modi necessitatibus vero, natus dolorem consequatur provident sunt quia, aliquid iste quasi placeat error deserunt non harum reiciendis itaque illo?</div>
      Count: {{count}}
    </td>
    <td class="example-item-detail">First: {{first ? 'Yes' : 'No'}}</td>
    <td class="example-item-detail">Last: {{last ? 'Yes' : 'No'}}</td>
    <td class="example-item-detail">Even: {{even ? 'Yes' : 'No'}}</td>
    <td class="example-item-detail">Odd: {{odd ? 'Yes' : 'No'}}</td>
  </tr>
</table>
</cdk-virtual-scroll-viewport>
</div>
